.SimpleMovingAverage {

  &-signal-up circle {
    fill: $green;
    stroke-width: 0;
  }

  &-signal-down circle {
    fill: $red;
    stroke-width: 0;
  }

  &-line1 {
    path {
      stroke: $purple;
    }

    + .recharts-active-dot circle {
      fill: $purple;
    }
  }

  &-line2 {
    path {
      stroke: $green;
    }

    + .recharts-active-dot circle {
      fill: $green;
    }
  }
}
